parameters:
	ignoreErrors:
		-
			rawMessage: 'Class cognitive complexity is 62, keep it under 16'
			identifier: complexity.classLike
			count: 1
			path: src/OptimizedValidator.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidation\OptimizedValidator::compileFastCheck()" is 50, keep it under 9'
			identifier: complexity.functionLike
			count: 1
			path: src/OptimizedValidator.php

		-
			rawMessage: 'Out of 476 possible param types, only 474 - 99.5 %% actually have it. Add more param types to get over 100 %%'
			identifier: typeCoverage.paramTypeCoverage
			count: 2
			path: src/OptimizedValidator.php

		-
			rawMessage: 'Out of 636 possible return types, only 635 - 99.8 %% actually have it. Add more return types to get over 100 %%'
			identifier: typeCoverage.returnTypeCoverage
			count: 1
			path: src/OptimizedValidator.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidation\Rules\ArrayRule::validate()" is 18, keep it under 9'
			identifier: complexity.functionLike
			count: 1
			path: src/Rules/ArrayRule.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidation\Rules\BooleanRule::validate()" is 18, keep it under 9'
			identifier: complexity.functionLike
			count: 1
			path: src/Rules/BooleanRule.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidation\Rules\DateRule::validate()" is 18, keep it under 9'
			identifier: complexity.functionLike
			count: 1
			path: src/Rules/DateRule.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidation\Rules\EmailRule::validate()" is 18, keep it under 9'
			identifier: complexity.functionLike
			count: 1
			path: src/Rules/EmailRule.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidation\Rules\FieldRule::validate()" is 18, keep it under 9'
			identifier: complexity.functionLike
			count: 1
			path: src/Rules/FieldRule.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidation\Rules\FileRule::validate()" is 18, keep it under 9'
			identifier: complexity.functionLike
			count: 1
			path: src/Rules/FileRule.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidation\Rules\NumericRule::validate()" is 18, keep it under 9'
			identifier: complexity.functionLike
			count: 1
			path: src/Rules/NumericRule.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidation\Rules\PasswordRule::validate()" is 18, keep it under 9'
			identifier: complexity.functionLike
			count: 1
			path: src/Rules/PasswordRule.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidation\Rules\StringRule::validate()" is 18, keep it under 9'
			identifier: complexity.functionLike
			count: 1
			path: src/Rules/StringRule.php
