parameters:
	ignoreErrors:
		-
			rawMessage: 'Class cognitive complexity is 81, keep it under 80'
			identifier: complexity.classLike
			count: 1
			path: src/BatchDatabaseChecker.php

		-
			rawMessage: 'Class cognitive complexity is 257, keep it under 80'
			identifier: complexity.classLike
			count: 1
			path: src/FastCheckCompiler.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidation\FastCheckCompiler::addDateChecks()" is 23, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/FastCheckCompiler.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidation\FastCheckCompiler::buildClosure()" is 52, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/FastCheckCompiler.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidation\FastCheckCompiler::buildItemAwareClosure()" is 59, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/FastCheckCompiler.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidation\FastCheckCompiler::compileWithPresenceConditionals()" is 25, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/FastCheckCompiler.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidation\FluentFormRequest::preExcludeRules()" is 21, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/FluentFormRequest.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidation\OptimizedValidator::passes()" is 37, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/OptimizedValidator.php

		-
			rawMessage: 'Class cognitive complexity is 274, keep it under 80'
			identifier: complexity.classLike
			count: 1
			path: src/RuleSet.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidation\RuleSet::buildFastChecks()" is 46, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/RuleSet.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidation\RuleSet::validate()" is 25, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/RuleSet.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidation\RuleSet::validateItems()" is 49, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/RuleSet.php

		-
			rawMessage: 'Cognitive complexity for "AnonymousClass76dabe554b3ccb5045e167af68715137::preExcludeRules()" is 21, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: tests/BatchDatabaseValidationTest.php

		-
			rawMessage: 'Cognitive complexity for "AnonymousClass420d6bbea2864404c724b63698d04cf0::preExcludeRules()" is 21, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: tests/ExpandsWildcardsTest.php
